.frontpage-navbar {
  opacity: 1;
  height: 3.8rem;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  transition: background 0.2s ease-out 0s;
}

.frontpage-element {
  max-width: 100%;
  z-index: 2;
  width: 100%;
  padding: 0 4rem;
  margin: 0 auto;
  transition: all 0.2s ease-out 0s;
}

.frontpage-wrapped {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  overflow-x: hidden;
  -webkit-box-pack: justify;
  justify-content: flex-start;
  height: 3.8rem;
  transition: all 0.2s ease-out 0s;
}

.frontpage-logo {
  flex: 1 1 50%;
  transition: all 0.2s ease-out 0s;
}

.frontpage-logo a img {
  top: 0;
  left: 0;
  width: 120px;
  height: 40px;
  object-fit: cover;
  object-position: center center;

  transition: none 0s ease 0s;
}
.frontpage-menu {
  flex: 1 1 50%;
}

.frontpage-menu ul {
  width: 100%;
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  transition: all 0.2s ease-out 0s;
}

ul li {
  padding-left: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #575757;
  cursor: pointer;
  font-size: 0.73rem;
  text-decoration: none;
  transition: color 0.2s ease-out 0s;
  padding-right: 20px;
}

@media only screen and (min-width: 1440px) {
  ul li {
    padding-right: 0;
    padding-left: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .frontpage-logo {
    flex: 1 1 40%;
  }
  .frontpage-menu {
    flex: 1 1 60%;
  }
  ul li {
    /* padding-right: ; */
    /* padding-left: 12px; */
    padding-left: 18px;
    padding-right: 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .frontpage-element {
    padding: 0 4px;
  }

  .frontpage-logo {
    flex: 1 1 5%;
  }
  .frontpage-menu {
    flex: 1 1 95%;
  }
  ul li {
    /* padding-right: ; */
    /* padding-left: 12px; */
    padding-left: 4px;
    padding-right: 0;
    font-weight: 500;
  }
}
@media only screen and (min-width: 320px) and (max-width: 375px) {
  .frontpage-logo a img {
    width: 95px;
    height: 30px;
    transition: none 0s ease 0s;
  }
  ul li {
    font-weight: 600;
    font-size: 10px;
  }
}
