.about-container {
  margin-top: 7rem;
  width: 100vw;
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.about-container > * {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-degree {
  width: 80%;
  text-align: center;
}
.about-degree em {
  color: #333;
  font-weight: 600;
  transition: color 0.2s ease-out 0s;
}
.about-stack {
  width: 80%;
  text-align: center;
}

.about-intro {
  color: #575757;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.8rem;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  transition: color 0.2s ease-out 0s;
}

.about-stack-title {
  font-weight: 600;
  color: #333;
  margin-top: 5rem;
  font-size: 1.35rem;
  transition: color 0.2s ease-out 0s;
}
.about-stack {
  color: #127eb1;
  width: 75%;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 700;
  margin: 0 auto 0rem;
  margin-top: 15px;
}

.resume-button {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: inherit;
  display: flex;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  outline: none;
  text-decoration: none;
  border-width: 1px;
  border-style: initial;
  border-color: transparent;
  border-radius: 10rem;
  padding: 1rem 3.5rem;
  transition: all 0.2s ease-out 0s;
  background-color: #127eb1;
  /* transform: translateY(0); */
  margin-top: 5rem;
}

.resume-button:hover {
  margin-top: 4.7rem;
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .about-container {
    margin-top: 0rem;
  }
  .about-degree {
    font-size: 0.95rem;
  }
  .about-intro {
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
  .about-stack-title {
    font-size: 1rem;
    margin-top: 2rem;
  }
  .about-stack {
    font-size: 0.7rem;
    line-height: 1.5rem;
    font-weight: 700;
  }
  .resume-button {
    margin-top: 3rem;
  }
  .resume-button:hover {
    margin-top: 2.7rem;
  }
}
@media only screen and (min-width: 320px) and (max-width: 374px) {
  .about-degree {
    font-size: 0.8rem;
  }
  .about-intro {
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.8rem;
    word-break: break-all;
  }
  .about-stack-title {
    font-size: 0.85rem;
    margin-top: 1rem;
  }
  .about-stack {
    font-size: 0.6rem;
    line-height: 1.5rem;
  }
  .resume-button {
    margin-top: 1rem;
  }
  .resume-button:hover {
    margin-top: 0.7rem;
  }
}
